# Don’t commit the following directories created by pub.
.buildlog
.DS_Store
.pub/
build/
packages
.packages
.atom

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map

# Or the files created by dart-doveralls
dart-cov-*.json

# Include when developing application packages.
pubspec.lock

# vim files
*.swp

# idea files
.idea
